.mainframe{
    background-color: rgb(234, 234, 234);
}

.head-section{
    text-align: center;
    background-color: white;
    text-align: left;
    padding: 10px;
    position: relative;
}

.head-section-logo{
    width: 10%;
    height: 30px;
    min-width: 130px;
}

.head-button{
    border: none;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    .head-button {
        display: none;
    }
}


.head-button:hover{
    cursor: pointer;
}

.sidebar-btn{
    font-size: 30px;
    display: none;
    color: black;
    border: none;
    background: none;
    font-weight: 800;
}

@media screen and (max-width: 1500px) {
    .sidebar-btn {
        display: inline-block; /* Show the button when screen width is less than 700px */
    }
}

.search-button-icon{
    width: 30px;
    height: auto;
}
.search-button{
    height: 60px;
    margin-left: 15%;
    padding: 8px;
    border-color: grey;
    border-width: 0.5px;
}

.bolbol-div{
    background-color: white;
    border-color: rgb(208, 205, 205);
    text-align: left;
    padding: 5px;
}

.bolbol-button{
    border-color: rgb(203, 203, 203);
    border-width: 0.5px;
    background-color: white;
}

.bolbol-logo{
    margin-left: 10px;
    width: 35px;
}

p{
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 8px;
    
}


@media screen and (max-width: 200px) {
    .search-btn {
        display: none; 
    }
}

.carousel-section{
    position: relative;
    height: 10%;
    
}

.carousel-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.mid-section{
    min-width: 450px;
    background-color: white;
    position: absolute;
    padding: 15px;
    margin-top: 400px;
    margin-left: 250px;
    
}

.mid-section-mid{
    margin: 20px;
}

.mid-section-end{
    padding: 10px
}

.end-img{
    margin-top: 20px;
}

.mid-section-main-button{
    text-align: center;
    width: 250px;
    background-color: white;
    border: none;  
}